@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "clash-display";
  src: url("./2023/assets/fonts/ClashDisplay-Regular.otf");
}

@font-face {
  font-family: "montserrat";
  src: url("./2023/assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "unicaOne";
  src: url("./2023/assets/fonts/UnicaOne-Regular.ttf");
}
